*.md
*db_loader/
*requirements*.in
*requirements-*.txt
.DS_Store
.cache
.dockerignore
.git
.gitignore
.idea
.venv/
Dockerfile
LICENSE
__pycache__
build.sh
compose.yaml
doc_assets/
env.template
removed-requirements.txt
staticfiles/
terraform/
venv/
**/migrations