# This is a template for .env file. Copy this to a new file called `.env` and fill in the values.
#
# NOTE: This file is ignored by git.
# The .env file is NOT synced to the Docker container, it is used for local development only
#
# The following are used in the building and publishing of the Docker image to Artifact Registry.
# Image will be named: ${REPO_HOST}/${PROJECT_ID}/${REPO_FOLDER}/parameter-store:latest (or `v${VERSION}` if using a
# specific version)
#
# Note, Artifact Registry must be setup ahead of time and the user running `build.sh` must have permissions set already.
#


# Artifact Registry Configuration
PROJECT_ID="test"
REPO_HOST="us-central1-docker.pkg.dev"
REPO_FOLDER="parameter-store"
