## This is a template for .env file. Copy this to a new file called `.env` and fill in the values.

## NOTE: This file is ignored by git.
##       The .env file is NOT synced to the Docker container, it is used for local development only

#######
####### Build and Push variables. The following are used in the buildling and publishing of the Docker image to a GCR or Artifact Registry.
#######     Note, gcr.io and/or artifact registry must be setup ahead of time and user running `build.sh` must have permissions set already.
#######

### Image will be named: ${REPO_HOST}/${PROJECT_ID}/${REPO_FOLDER}/parameter-store:latest  (or `v${VERSION}` if using specific version)

# Example Artifact Registry
# PROJECT_ID="cloud-alchemists-sandbox"
# REPO_HOST="us-central1-docker.pkg.dev"
# REPO_FOLDER="parameter-store"

# Example gcr.io
PROJECT_ID="daniel-test-proj-411311"
REPO_HOST="gcr.io"
REPO_FOLDER="parameter-store"

