{% load i18n %}
<div class="flex items-center">
    <div x-data="{ open: false }" @click.outside="open = false" @keydown.escape.window="open = false" class="relative">
        <button @click="open = !open" class="block cursor-pointer h-[18px] hover:text-base-700 dark:hover:text-base-200" type="button" aria-expanded="false" title="Active ChangeSets">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-replace-all-icon lucide-replace-all"><path d="M14 14a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2"/><path d="M14 4a2 2 0 0 1 2-2"/><path d="M16 10a2 2 0 0 1-2-2"/><path d="M20 14a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2"/><path d="M20 2a2 2 0 0 1 2 2"/><path d="M22 8a2 2 0 0 1-2 2"/><path d="m3 7 3 3 3-3"/><path d="M6 10V5a 3 3 0 0 1 3-3h1"/><rect x="2" y="14" width="8" height="8" rx="2"/></svg>
        </button>
        <div x-show="open"
             x-transition
             x-on:click.outside="open = false"
             class="absolute bg-white border border-base-200 flex flex-col leading-none py-1 -right-2 rounded-default shadow-lg top-7 w-52 z-50 dark:bg-base-800 dark:border-base-700"
             style="display: none;"
             aria-orientation="vertical"
             role="menu">
            <div class="border-b border-base-200 flex flex-row shrink-0 items-start justify-start mb-1 pb-1 dark:border-base-700" role="none">
                <span class="block mx-1 px-3 py-2 truncate">
                    <p class="font-semibold">{% trans "Active ChangeSet" %}</p>
                    <p>{{ active_changeset.name|default:"None" }}</p>
                </span>
            </div>
            <div class="flex flex-row shrink-0 items-start justify-start mb-1 pb-1" role="none">
                <span class="block mx-1 px-3 py-2 truncate">
                    <p class="font-semibold">{% trans "Draft ChangeSets" %}</p>
                    {% for changeset in draft_changesets %}
                        <a href="?active_changeset={{ changeset.id }}" class="mx-1 px-3 py-2 rounded-default hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200 {% if changeset.id == active_changeset.id %} bg-base-100 {% endif %}" role="menuitem">
                            {{ changeset.name }}
                        </a>
                    {% empty %}
                        <p class="mx-1 px-3 py-2 text-sm text-gray-500">{% trans "No draft ChangeSets" %}</p>
                    {% endfor %}
                </span>
            </div>
            <div class="border-t border-base-200 mt-1 pt-1 dark:border-base-700">
                <a href="{% url 'param_admin:parameter_store_changeset_add' %}" class="mx-1 px-3 py-2 rounded-default hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200" role="menuitem">
                    {% trans "Create new ChangeSet" %}
                </a>
            </div>
        </div>
    </div>
</div>
