{% load i18n %}
<div class="flex items-center">
    <div x-data="{ open: false }" @click.outside="open = false" @keydown.escape.window="open = false" class="relative changeset-dropdown">
        <button @click="open = !open" class="flex items-center justify-center w-10 h-10" type="button" aria-expanded="false" title="Active ChangeSets">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-replace-all-icon lucide-replace-all"><path d="M14 14a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2"/><path d="M14 4a2 2 0 0 1 2-2"/><path d="M16 10a2 2 0 0 1-2-2"/><path d="M20 14a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2"/><path d="M20 2a2 2 0 0 1 2 2"/><path d="M22 8a2 2 0 0 1-2 2"/><path d="m3 7 3 3 3-3"/><path d="M6 10V5a 3 3 0 0 1 3-3h1"/><rect x="2" y="14" width="8" height="8" rx="2"/></svg>
        </button>
        <div x-show="open"
             x-transition:enter="transition ease-out duration-100"
             x-transition:enter-start="transform opacity-0 scale-95"
             x-transition:enter-end="transform opacity-100 scale-100"
             x-transition:leave="transition ease-in duration-75"
             x-transition:leave-start="transform opacity-100 scale-100"
             x-transition:leave-end="transform opacity-0 scale-95"
             class="absolute right-0 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
             style="display: none;"
             aria-orientation="vertical"
             role="menu">
            <div class="py-1 w-40" role="none">
                <div class="px-4 py-2 text-sm text-gray-700 border-b" role="none">
                    <p class="font-semibold">{% trans "Active ChangeSet" %}</p>
                    <p>{{ active_changeset.name|default:"None" }}</p>
                </div>
                <div class="px-4 py-4 text-sm text-gray-700 border-b" role="none">
                    <p class="font-semibold">{% trans "Draft ChangeSets" %}</p>
                    {% for changeset in draft_changesets %}
                        <a href="?active_changeset={{ changeset.id }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 {% if changeset.id == active_changeset.id %} bg-gray-100 {% endif %}" role="menuitem">
                            {{ changeset.name }}
                        </a>
                    {% empty %}
                        <p class="px-4 py-2 text-sm text-gray-500">{% trans "No draft ChangeSets" %}</p>
                    {% endfor %}
                </div>
                <div class="border-t">
                    <a href="{% url 'param_admin:parameter_store_changeset_add' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">
                        {% trans "Create new ChangeSet" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
